

ul.topnav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul.topnav li {float: left;}

ul.topnav li a {
  display: block;
  color: white;
  text-align: center;
  padding: 33px 16px;
  text-decoration: none;
    
}

ul.topnav li a:hover:not(.active) {background-color:#475424;}

ul.topnav li a.active {background-color: #4CAF50;}

ul.topnav li.right {float: right;}

@media (min-width:200px) and (max-width:769px) {
  ul.topnav li.right, 
  ul.topnav li {float:none;
  
    }
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
}

.center{
  position:relative;
  left: 42%;
  /*transform: translate(-50%, -50%);*/
 

}
@media (min-width:992px) and (max-width:1200px) {
  div.row div.row img.bb{
        width: 314px;
    }
}
@media (min-width:768px) and (max-width:992px) {
   
  div.row img.bb{
        width: 235px;
    }
}

img:hover{
  transform: scale(1.05);
}
@media(max-width:1240px) and (min-width:929px){
    .centered{
        font-size: 60px;
    }
}
@media(max-width:929px) and (min-width:619px){
        .centered{
        font-size: 40px;
    }
}


@media(max-width:619px) and (min-width:200px){
        .centered{
        font-size: 30px;
    }
}